@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    background-image: url(../images/bg.jpg);
    background-size: 100%;
    color: white;
    font-family: 'Inter';
    
    margin: 2em 8em;
    background-repeat: no-repeat;
}

/*classe font testo pagina welcome*/
.testop1{ 
    font-size: 16px;
}
img{
    width: 15%;
    padding: 0.5em;
    margin-left: 0.93em;
}
h1{
    margin-bottom: 0px;
    font-family: 'Outfit';
    font-size: 60px;
    font-weight: 400;
}
h2{    
    font-family: 'Outfit', sans-serif;
    font-size: 45px;
    font-weight: lighter;
    margin-top: 90px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
 }
h3{
    color: #d20094;
    font-size: 30px;
    margin-bottom: 0px;
}
form{
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
   

 }
span{
    font-weight: bolder;
}
ul{
    margin-top: 3em;
    padding-left: 30px;
    margin-bottom: 6em;
}


#bottone{
    
    color: #0b113b;
    font-family: 'Inter';
    width: 9.5em;
    height: 2.7em;
    background-color: #00ffff;
    margin-left: 12em;
    font-size: 1.5em;
    font-weight: 1000;
    border: 0px;
}
#bottone:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #00ffff ;
}


.buttonrisposte{
    font-size: 23px;
    font-weight: bold;
    display: inline-block;
    background-color: traspa;
    color: black;
    width: 40%;
    height: 90px;
    border-color: white;
    border-radius: 50px;
    margin: 20px;
    padding: 1px;
    color: white;
    margin-left: 65px;
    background-color: rgba(255, 255, 255, 0.167);
    box-shadow: 0px -3px 0px -1px;



 }
 .buttonrisposte:hover {
    background-color: #d20094;
 }

 .risposte {
    background-color: #900080;
    border-radius: 2px;
    text-align: center;
    margin: 1.5px;

 }

.labelquestion{
    color: white;
    margin-left: 420px;
    margin-top: 130px;
    margin-right: 450px;
    font-size: 25px;
    display: block;
    width: 300px
 }



/*svg{
    fill: #140635;
    width: 6.5%;
    cursor: pointer;
    margin-bottom: 2.3em;
}
svg:hover path{
    fill: #00ffff;
}
#write{
    color: white;
    font-family: 'Inter';
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.7em;
    margin-top: 1em;
    margin-left: 4.5em;
}
#lilla{
    width: 78%;
    margin-top: 8px;
    margin-left: 4.3em;
    height: 3px;
    background-color: #9b1a85;
}*/