@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;700&display=swap');
body{
    background-image: url(../images/bg.jpg);
    background-size: 100%;
    color: white;
    font-family: 'Inter';
    
    margin: 2em 8em;
    background-repeat: no-repeat;
}
.hide{
    display: none;
}
/*classe font testo pagina welcome*/
.testop1{ 
    font-size: 16px;
}
img{
    width: 15%;
    padding: 0.5em;
    margin-left: 0.93em;
}
h1{
    margin-bottom: 0px;
    font-family: 'Outfit';
    font-size: 60px;
    font-weight: 400;
}
h2{    
    font-family: 'Outfit', sans-serif;
    font-size: 45px;
    font-weight: lighter;
    margin-top: 90px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
 }
h3{
    color: #d20094;
    font-size: 30px;
    margin-bottom: 0px;
}
form{
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
   

 }
span{
    font-weight: bolder;
}
ul{
    margin-top: 3em;
    padding-left: 30px;
    margin-bottom: 6em;
}


#bottone{
    
    color: #0b113b;
    font-family: 'Inter';
    width: 9.5em;
    height: 2.7em;
    background-color: #00ffff;
    margin-left: 12em;
    font-size: 1.5em;
    font-weight: 1000;
    border: 0px;


    
}
.divrisposte{
    position: fixed;
    left: 60px;
    top: 450px;
    right: 30px;
}
#bottone:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #00ffff ;
}


.buttonrisposte{
    font-size: 23px;
    font-weight: bold;
    display: inline-block;
    background-color: traspa;
    color: black;
    width: 40%;
    height: 90px;
    border-color: white;
    border-radius: 50px;
    margin: 20px;
    padding: 1px;
    color: white;
    margin-left: 65px;
    background-color: rgba(255, 255, 255, 0.167);
    box-shadow: 0px -3px 0px -1px;



 }

 .bottonefooter{
    box-shadow: 0px 0px 20px -5px #00ffffb6;
    cursor: pointer;
    color: white;
    font-family: 'Inter';
    width: 10em;
    height: 2.8em;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: 1000;
    border: 5px solid white;
    border-style: solid;
   
}

 .buttonrisposte:hover {
    background-color: #d20094;
 }

 .risposte {
    background-color: #900080;
    border-radius: 2px;
    text-align: center;
    margin: 1.5px;

 }

 .labelquestion{
    position: fixed;
    bottom: 60px;
    right: 580px;
    color: white;
    font-size: 25px;
    display: block;

 }
 .elemento{
    max-width: 175px;
 }
 .elemento h4{
    display: inline-block;
    color: white;
    padding-top: -20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 100!important;
    font-size: 3.5em;
    margin-bottom: 0px;
    margin-top: 0px;
 }

.classedivpg3{

        
        display: flex;
        justify-content: space-between;
        align-items: center;
     
}
.classedivpg3 > div{
    display: inline-block;
}
#firstText{
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

#firstText h1{
    font-size: 4em;
    text-align: center;
    color: white;
    font-weight: 700;
    line-height: 2px;
}
#firstText p{
        text-align: center;
        color: white;
        font-size: 2em;
}
#contenitore {
    padding-left: 70px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.classetimer{
    
}
/*svg{
    fill: #140635;
    width: 6.5%;
    cursor: pointer;
    margin-bottom: 2.3em;
}
svg:hover path{
    fill: #00ffff;
}
#write{
    color: white;
    font-family: 'Inter';
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.7em;
    margin-top: 1em;
    margin-left: 4.5em;
}
#lilla{
    width: 78%;
    margin-top: 8px;
    margin-left: 4.3em;
    height: 3px;
    background-color: #9b1a85;
}*/

/*.bottonefooter{
    box-shadow: 0px 0px 20px -5px #00ffffb6 ;
    cursor: pointer;
    color: white;
    font-family: 'Inter';
    width: 10em;
    height: 2.8em;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: 1000;
    border: 5;
    border-color: white;
    font-family: 'Outfit', sans-serif;
    margin-left: 395px;
 }*/
 #progress-container2{
    width: 150px;
    height: 150px;
    position: relative;
    float: right;
}

#progress-circle {
    fill: transparent;
      stroke: rgb(247, 247, 247);
      stroke-width: 10;
      stroke-dasharray: 377.099;
      transition: stroke-dashoffset 0.05s ease;
}

#outer-circle{
    fill: transparent;
    stroke: #00ffff;
    stroke-width: 10;
}
footer{
    position: fixed;
    bottom: 25px;
    right: 65%;
    left: 41%;
 }

#progress-text{
    text-anchor: middle; /* Centra il testo rispetto al punto di ancoraggio /
    dominant-baseline: middle; / Centra il testo verticalmente rispetto al punto di ancoraggio */
    font-size: 15px;
    font-family: Arial, sans-serif;
    fill: white;
    
}

#checkbox1{
    cursor: pointer; 
    margin-right: 8px;
    border: 20px;
    background-color: aquamarine;
}

#hoverTextbox {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    width: 200px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
