@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    background-image: url(/pagina-1/images/bg.jpg);
    background-size: 100%;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    background-repeat: no-repeat;
    margin: 2em 8em;
}
img{
    width: 15%;
    margin-top: 1em;
    margin-bottom: 1em;
}
h1{
    margin-top: 1em;
    margin-bottom: 0px;
    font-family: 'Outfit';
    font-size: 60px;
    font-weight: 400;
}
h3{
    color: #d20094;
    font-size: 30px;
    margin-bottom: 0px;
}
p{
    margin-top: 10px
}
span{
    font-weight: bolder;
}
ul{
    margin-top: 3em;
    padding-left: 30px;
    margin-bottom: 6em;
}
li{
    margin-bottom: 5px;
}
#checkbox1{
    cursor: pointer; 
    margin-right: 8px;
    border: 20px;
    background-color: aquamarine;
}
#bottone{
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #00ffff ;
    color: #0b113b;
    font-family: 'Inter';
    width: 9.5em;
    height: 2.6em;
    background-color: #00ffff;
    margin-left: 12em;
    font-size: 1.5em;
    font-weight: 1000;
    border: 0px;
}
label{
    font-size: 14px;
}